{% extends "homepage/base.html" %}

{% block content %}
           <div class="col-md-6">
               <div class="row">
                 <div class="col-xs-12">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h3 class="panel-title">Hard Coded Temporary Calendar</h3>
                       </div>
                       <div class="panel-body">
                           8/26/2016 - Welcome Back/Website/potluck
                       </div>
                       <div class="panel-body">
                           9/2/2016 - Jeopardy/Pizza
                       </div>
                       <div class="panel-body">
                           9/9/2016 - Selenium presentation, automated UI testing
                       </div>
                       <div class="panel-body">
                           9/16/2016 - Kirubel Drone Project 
                       </div>
                       <div class="panel-body">
                           9/23/2016 - Suyash Firebase DB
                       </div>
                       <div class="panel-body">
                           9/30/2016 - 
                       </div>
                       <div class="panel-body">
                           10/7/2016
                       </div>
                       <div class="panel-body">
                           10/14/2016
                       </div>
                       <div class="panel-body">
                           10/21/2016 - Digikey Programming Competition
                       </div>
                       <div class="panel-body">
                           10/28/2016 - Dr Anda
                       </div>
                       <div class="panel-body">
                           11/4/2016 - Dr Zhao
                       </div>
		       <div class="panel-body">
                           11/5/2016 - ACM Programming Competition
                       </div>
                       <div class="panel-body">
                           11/11/2016
                       </div>
                       <div class="panel-body">
                           11/18/2016
                       </div>
                       <div class="panel-body">
                           11/25/2016
                       </div>
                       <div class="panel-body">
                           12/2/2016
                       </div>
                       <div class="panel-body">
                           12/9/2016
                       </div>
                       <div class="panel-body">
                           12/16/2016
                       </div>

                   </div>
                 </div>
               </div>
           </div>
       </div>
   </div
{% endblock %}
