{% extends "homepage/base.html" %}

{% load news_extras %}
{% load emails_extras %}
{% load events_extras %}


<!-- Body -->
{% block content %}
  <div class="row" id="window-container">
    <!-- Desktop -->
    <div class="window-container">
     
    </div>
  </div>

  <!--Task Bar-->
  <div class="row">
    <div class="col-md-12">
      <ul class="taskbar">
        <li id="spawner">
          <div class="taskbar-menu">
            Windows 93.5
          </div>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
